/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Font */
@font-face {
  font-family: 'Ramillas Custom';
  src: url('fonts/tt_ramillas/TT\ Ramillas\ Trial\ Light.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Interphase Custom';
  src: url(fonts/tt_interphases_pro/TT\ Interphases\ Pro\ Trial\ Thin.ttf)
    format('truetype');
}
/* Global */
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fef2eb;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 35px 30px;
  background-color: #ffffff;
}

.left,
.right {
  flex: 1;
}

.center {
  flex: 0;
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.logo {
  height: 31px;
  width: auto;
  display: block;
}

/* Hamburger */
.menu-icon {
  width: 22px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.menu-icon span {
  height: 2px;
  background-color: #4d0011;
  border-radius: 2px;
}

/* Button */
.button {
  padding: 3px 8px;
  background-color: #ffffff;
  color: #1b1b1b;
  font-size: 12px;
  border-radius: 3px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #c2858d;
}

/* Hero Marquee */
.hero-marquee {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  position: relative;
}

.marquee-track {
  display: flex;
  height: 100%;
  width: fit-content;
  animation: scroll-stop 15s ease-in-out infinite;
}

.slide {
  width: 100vw;
  height: 100%;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Animation */
@keyframes scroll-stop {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(-16.666%);
  }
  55% {
    transform: translateX(-16.666%);
  }

  60% {
    transform: translateX(-33.333%);
  }
  85% {
    transform: translateX(-33.333%);
  }

  90% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* hero logo */
.hero-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  pointer-events: none;
}

.hero-logo {
  width: 82vw;
  height: auto;
}

/* mission */
.mission-section {
  display: flex;
  padding: 20px 20px;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1.2rem;
  width: 100%;
  height: 100vh;
  color: #4d0011;
}

.mission-section > h1 {
  /* border: 2px solid black; */
  font-family: 'Ramillas Custom', Arial, Helvetica, sans-serif;
  font-size: 56px;
  letter-spacing: -4px;
}

.mission-section > p {
  font-family: 'Interphase Custom', 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 30px;
}
